body {
  display: block;
  margin: 30px;
  padding: 30px;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

p {
line-height: 35px;
font-size: 1.2rem;
text-align: justify;
}

div {
  margin: 1em 0px;
}
img {
  display: block;
  justify-content: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}